.dashboard {
  &__wrapper {
    height: 82vh;
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;

    & > * {
      flex: 1;
    }
  }

  &__cards {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 1rem;
  }

  &__map {
    border-radius: 1rem;
    overflow: hidden;
  }
}
