.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;

  flex: 1;

  &__form {
    min-width: 36rem;
    margin-top: 2rem;

    .n-p {
      font-size: 1.3rem;
      color: var(--color-primary);
      cursor: pointer;
      font-size: 1.3rem;
    }
  }

  &__password {
    position: relative;

    .n-form-item-feedback-wrapper {
      display: none;
    }

    .xicon {
      position: absolute;
      top: -80%;
      right: 0;
      cursor: pointer;
    }
  }

  &__password-container {
    margin-bottom: 2rem;
  }

  &__more {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .n-h1 {
    margin-bottom: 2.4rem;
    text-align: center;
  }

  .n-button {
    width: 100%;
  }

  &__footer {
    flex: 1;
    width: 100%;
    max-width: 48rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .n-p {
      font-size: 1.3rem;
      font-weight: 300;
      color: var(--color-gray-dark);
    }
  }
}

// remove if header will be unused
.header {
  font-size: 4rem;
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    gap: 1.6rem;
    align-items: center;
  }

  .test {
    background: var(--color-primary);
    color: #fff;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 4px;
  }
}
